<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

 <!-- Material Design for Bootstrap CSS -->
 <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="/scripts/custom/styles.css">

    <title>Ablyn</title>
  </head>
  <body ng-app="ablyn-module">
    <div class="container">
    <div class="row">

      <div class="col">

{{{content}}}
</div>
</div>
</div>
<script type="text/javascript" src="/scripts/vendor/angular.js">
</script>
<script type="text/javascript" src="/scripts/custom/components.js">
</script>
  </body>
</html>
