<div class="card">
  <div class="card-header">
    <!-- <div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-info">Primary</button>
  <span>Followers</span><h2 class="badge badge-secondary">34</h2>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-sm">
    <button type="button" class="btn btn-outline-info">Follow</button>
    </div>
    <div class="col-sm">
    <span>Followers</span><h2 class="badge badge-secondary">34</h2>
    </div>
    <div class="col-sm">
      <span>Following</span><h2 class="badge badge-secondary">21</h2>

    </div>
  </div>
</div>
</div>
          <div class="card-body">
            <ul class="list-group">
              <div>
                <li class="list-group-item">
                  <div>
                    <div>
                      John Robb<span class="badge badge-primary">@johnrobb</span>
                    </div>
                    <div>
                      The new generation doesn’t have time to watch television anymore, even I don’t buy newspapers. The News Feed, I can see quickly.
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    <div>
                      Gary Bernhardt<span class="badge badge-primary">@garybernhardt</span>
                    </div>
                    <div>
                      My 133 MHz computer in the late 90s could run chat without a performance impact on the rest of the system. Greetings from 1998, which is the future where computers are fast!
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    <div>
                      Tony Arcieri<span class="badge badge-primary">@bascule</span>
                    </div>
                    <div>
                      It's 2032: the Internet now runs at dialup speeds because the rest of the bandwidth is used for blockchains. We've gone back to candles because electricity that was used for lighting is now used for mining. 2D gaming is back in because GPUs are too expensive.
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
