<div class="card">
          <div class="card-body">
            <ul class="list-group">
              <div>
                <li class="list-group-item">
                  <div>
                    <div>
                      Arnab Ray <span class="badge badge-primary">@greatbong</span>
                    </div>
                    <div>
                      Was watching a few news channels. What I like is that they are not even trying to hide their political affiliations any more, the fig leaves have been munched through and digested. Everything is now Ganashakti, with only the identity of the Gana varying
                      from channel to channel
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    <div>
                      Arnab Ray <span class="badge badge-primary">@greatbong</span>
                    </div>
                    <div>
                      Was watching a few news channels. What I like is that they are not even trying to hide their political affiliations any more, the fig leaves have been munched through and digested. Everything is now Ganashakti, with only the identity of the Gana varying
                      from channel to channel
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    <div>
                      Arnab Ray <span class="badge badge-primary">@greatbong</span>
                    </div>
                    <div>
                      Was watching a few news channels. What I like is that they are not even trying to hide their political affiliations any more, the fig leaves have been munched through and digested. Everything is now Ganashakti, with only the identity of the Gana varying
                      from channel to channel
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
